@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background: #672584;
  height: max-content;
  min-height: 100vh;
}
h3 {
  color: #fff;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 100px;
}
.dice-wrapper {
  position: relative;
}
.locked-border {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border: 8px solid #1dc701;
  border-radius: 15px;
}
.roll-btn {
  font-family: "Lemon", serif;
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
}
._space3d {
  perspective: unset !important;
}
